body{
    background-color:#CFF5E7;
    padding-bottom:20px;
  }
  form {
    width:80vw;
    margin: 0 auto;
    background-color: #59C1BD   ;
    color:white;
    padding:20px;
    min-width: 300px;
    max-width:560px;
  }
  #title {
    font-family: serif-sans 'Times New Roman';
    text-align: center;
    color:#0D4C92;
  }
  label {
    display:block;
    margin-top:8px;
    width:100%;
    
  }
  input {
  margin-top:8px;
    width:100%;
    background-color:#439A97;
    border:#A5F1E9;
    color:white;
    height: 1.5em;;
  }
  #description {
    font-style: italic;
    text-align: center;
    color:#0D4C92;
  }
  select {
    display:block;
    width:100%;
    background-color:#439A97;
    border:#A5F1E9;
    color:white;
  }
  .inline {
    width:unset;
  }
  textarea {
    margin-top:8px;
    background-color:#439A97;
    border:#A5F1E9;
    color: white;
  }
  #submit {
    width: 30%;
    margin: 8px auto;
    margin-top:8px;
    display:block;
    border-radius:6px;
    padding:5px 0;
  }
  